.about-wrapper {
    padding-left: 14rem;
    padding-right: 14rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ede5;
    gap: 2rem;
}

.about-wrapper .left {
    width: 80%;
}

.about-wrapper .left .badge {
    margin-bottom: 20px;
    font-size: 18px;
}

.about-wrapper .left .heading {
    font-weight: 400;
    font-size: 60px;
}

.about-wrapper .description {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 18px;
    width: 80%;
}

.about-wrapper .left button {
    margin-top: 30px;
}

.about-wrapper .right {
    height: 100%;
}

.about-wrapper .img-container {
    width: 100%;
    width: 90%;
    position: relative;
    z-index: 1;
}

.about-wrapper .right img {
    width: 100%;
    height: 100%;
}

.about-wrapper .right .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 20px;
    background-color: #edb162;
    z-index: -1;
}

/* @media (max-width: 1350px) {
    .about-wrapper .img-container {
        width: 40%;
    }

    .about-wrapper .right img {
        width: 100%;
        height: 100%;
    }

    .about-wrapper .left {
        width: 40%;
    }

    .about-wrapper .left .heading {
        font-weight: 400;
        font-size: 30px;
    }
} */